@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

h1 {
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

a {
  border-radius: 10px;
  border: 4px double #cccccc;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.fr {
  background-color: rgb(91, 206, 250);
}

.ch {
  background-color: rgb(245, 169, 184);
}

.belge {
  background-color: #cccccc;
}

.quebec {
  background-color: rgb(245, 169, 184);
}

.lux {
  background-color: rgb(91, 206, 250);
}

.centre {
  padding-left: 600px;
}

html {
  background: url(/img/trans.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "EB Garamond", serif;
}
